<div class="main-container">
    <h1 class="main-subclass-headname" style="font-weight: 900; text-align: center; margin: 15px 0; color: #fff;" >Tic-Tac-Toe</h1>
    <div class="field">
        <p class="main-subclass-starttext" style="color: #fff;">Start the game on the button</p>
    </div>
    <div>
        <div class="field d-flex justifiy-content-center" style="width: 100%;">
            <button mat-raised-button color="accent" class="start-game-button">Start Game Now!</button>
        </div>
    </div>
</div>
